h1 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  line-height: 1.5em !important;
  font-weight: 300 !important;
}

h2 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  line-height: 1.5em !important;
  font-weight: 300 !important;
}

.section {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.section.section-dark {
  background-color: #0a151f !important;
  color: #fafafa !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .15) !important;
}

.section.section-dark-grey {
  background-color: #3f3f3f !important;
  color: #cecece !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .15) !important;
}

.section.section-blue {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  background-color: #0070ff !important;
  color: #fafafa !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 98%, .15) !important;
}

.section.section-orange {
  background-color: #faa004 !important;
  color: #fafafa !important;
}

.body {
  background-color: #fafafa !important;
  font-family: Montserrat, sans-serif !important;
  color: #3f3f3f !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
  font-weight: 300 !important;
  text-shadow: 0 1px 0 rgba(63, 63, 63, .15) !important;
}

.container {
  display: block !important;
  max-width: 1170px !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

.h1 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  font-size: 2em !important;
  line-height: 1.5em !important;
  font-weight: 300 !important;
}

.table {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.row {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-right: -0.5em !important;
  margin-left: -0.5em !important;
}

.column {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0.25em 0.5em !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

.column.right {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.h2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
  font-size: 1.5em !important;
  line-height: 1.5em !important;
  font-weight: 300 !important;
}

.right {
  text-align: right !important;
}

.spacer-2em {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.bg-color-orange {
  background-color: #faa004 !important;
}

.bg-color-orange.flex-h-stretch.gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
}

.color-light {
  color: #fafafa !important;
}

.bg-color-green {
  background-color: #4bd147 !important;
}

.bg-color-green.flex-h-stretch.gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
}

.bg-color-blue {
  background-color: #0070ff !important;
}

.bg-color-blue.flex-h-stretch.gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
}

.center {
  text-align: center !important;
}

.gradient-test-box {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 8em !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-h-stretch {
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
}

.spacer-1em {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.bg-color-dark {
  background-color: #0a151f !important;
}

.bg-color-dark.flex-h-stretch.gradient {
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), hsla(0, 0%, 100%, .1)) !important;
}

.button-container {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-justify-content: space-around !important;
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.button {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 1em 3em !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  border-radius: 2px !important;
  background-color: #3f3f3f !important;
  box-shadow: 0 0 6px 0 #3f3f3f !important;
  font-size: 1em !important;
}

.button.button-blue {
  background-color: #0070ff !important;
  box-shadow: 0 0 6px 0 rgba(0, 112, 255, .8) !important;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .77) !important;
}

.button.button-orange {
  background-color: #faa004 !important;
  box-shadow: 0 0 6px 0 rgba(250, 160, 4, .8) !important;
}

.button.button-green {
  background-color: #4bd147 !important;
  box-shadow: 0 0 6px 0 rgba(75, 209, 71, .8) !important;
}

.button.button-dark {
  background-color: #0a151f !important;
  box-shadow: 0 0 6px 0 #0a151f !important;
}

.bg-color-light {
  color: #fafafa !important;
}

.bg-color-mid-light {
  background-color: #cecece !important;
}

.bg-color-mid-grey {
  background-color: #969696 !important;
}

.bg-color-grey {
  background-color: #3f3f3f !important;
}

.color-blue {
  color: #0070ff !important;
}

.color-mid-grey {
  color: #969696 !important;
}

.color-mid-light {
  color: #cecece !important;
}

.color-grey {
  color: #3f3f3f !important;
}

.color-orange {
  color: #faa004 !important;
}

.color-green {
  color: #4bd147 !important;
}

.color-dark {
  color: #0a151f !important;
}

.basic-text {
  opacity: 0.6 !important;
}

@media (max-width: 991px) {
  .section {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
  }
  .container {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .button-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}