body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

a {
  display: inline;
  color: #001b4b;
  text-decoration: none;
}

.body {
  font-family: Montserrat, sans-serif;
  color: #001b4b;
  font-size: 1em;
  line-height: 1.5em;
}

.index-navbar {
  z-index: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
}

.index-navbar-brand-img {
  height: 4em;
}

.index-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(70deg, #001b4b, rgba(0, 106, 189, .35));
  background-image: linear-gradient(20deg, #001b4b, rgba(0, 106, 189, .35));
}

.index-hero.bgcolor-dark-blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(283deg, transparent, hsla(0, 0%, 100%, 0) 51%, hsla(0, 0%, 100%, 0) 77%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 88%, hsla(0, 0%, 100%, 0)), -webkit-linear-gradient(315deg, #3b9fee, rgba(23, 74, 233, .97) 24%, rgba(26, 67, 195, .94) 58%, #1c8ee7);
  background-image: linear-gradient(167deg, transparent, hsla(0, 0%, 100%, 0) 51%, hsla(0, 0%, 100%, 0) 77%, hsla(0, 0%, 100%, .4) 0, hsla(0, 0%, 100%, .4) 88%, hsla(0, 0%, 100%, 0)), linear-gradient(135deg, #3b9fee, rgba(23, 74, 233, .97) 24%, rgba(26, 67, 195, .94) 58%, #1c8ee7);
}

.bgcolor-dark-blue {
  background-color: #001b4b;
}

.bgcolor-mid-blue {
  background-color: #004174;
}

.button {
  min-width: 10em;
  padding: 0px 1em;
  border-radius: 2px;
  background-color: #08b624;
  color: #fff;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
}

.button.price-offers {
  margin-top: 40px;
}

.button.fullsize {
  width: 100%;
}

.button.card-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.button.button-small {
  min-width: 8em;
  font-size: 0.9em;
}

.button.button-full-width {
  display: block;
  width: 100%;
}

.color-light-grey {
  color: #888;
}

.color-light-grey.color-white.index-hero-headline {
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 60px;
  font-weight: 400;
}

.index-hero-optin-form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 4px;
  background-color: rgba(0, 27, 75, 0);
}

.index-hero-optin-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.index-hero-optin-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.optin-textfield {
  width: 35em;
  height: 45px;
  margin-bottom: 20px;
  border-radius: 1px;
  color: #001b4b;
  font-size: 15px;
  font-weight: 300;
}

.optin-textfield.footer-field {
  width: auto;
  margin-bottom: 10px;
  background-color: #fff;
}

.index-navbar-link.index-navbar-link-text {
  width: auto;
  padding: 0px 15px;
  -webkit-transition: opacity 400ms ease, -webkit-transform 200ms ease;
  transition: opacity 400ms ease, -webkit-transform 200ms ease;
  transition: opacity 400ms ease, transform 200ms ease;
  transition: opacity 400ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  color: #001b4b;
  font-size: 18px;
}

.index-navbar-link.index-navbar-link-text:hover {
  color: #001b4b;
}

.index-hero-gif-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.color-white {
  color: #fff;
}

.color-white.index-hero-optin-headline-text {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 24px;
}

.index-hero-optin-headline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-navbar-link-text {
  width: 100px;
  opacity: 0.75;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.index-navbar-link-text:hover {
  opacity: 1;
}

.section-optin.bgcolor-mid-blue {
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, 0));
}

.optin-register-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.color-white-blue {
  color: #77aed8;
  font-size: 15px;
  font-weight: 300;
}

.color-white-blue.made-in-germany-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  font-size: 28px;
}

.center {
  text-align: center;
}

.center.price-offers-headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  min-height: 75px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #a1a1a1;
}

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f0f0f0;
}

.footer-newsletter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer-newsletter-description {
  margin-bottom: 10px;
  font-weight: 300;
}

.footer-headline {
  padding-bottom: 5px;
  border-bottom: 1px solid #a1a1a1;
  font-weight: 700;
}

.align-justify {
  border-top: 1px none #d8d8d8;
  border-bottom: 1px none #d8d8d8;
  text-align: justify;
}

.footer-bottom-line {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #a1a1a1;
  color: #6e6e6e;
  font-weight: 300;
  text-align: center;
}

.footer-partner-col {
  opacity: 0.5;
}

.headline {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 300;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-row.price-calc-row {
  margin-top: 40px;
}

.flex-row.v-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.optin-login-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.topbar-login-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.optin-login-icon {
  margin-right: 10px;
  opacity: 0.75;
}

.index-product-tech-col {
  width: 128px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  text-align: center;
}

.index-product-tech-col:hover {
  -webkit-transform: translate(0px, -15px);
  -ms-transform: translate(0px, -15px);
  transform: translate(0px, -15px);
}

.footer-customers {
  display: none;
}

.section-2 {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #004174;
  color: #fff;
}

.price-calc-wrapper {
  margin-left: 20px;
  padding-left: 20px;
}

.price-calc-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 300;
}

.price-calc-row.result {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}

.price-calc-row.cutter {
  padding-bottom: 5px;
  border-bottom: 1px solid #77aed8;
}

.top-bar {
  padding: 0.5em 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 1px solid #888;
  background-color: #d8d8d8;
}

.dropdown-toggle {
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-bar-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.top-bar-text {
  margin-right: 1em;
}

.section-offer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.price-offers-text-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.price-offers-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.price-offers-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.price-cost-headline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-calc-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
}

.price-calc-checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #006abd;
}

.price-calc-p2p-range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 2px;
}

.price-calc-range-color {
  width: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e75062;
  text-align: center;
}

.price-calc-range-color.yellow {
  width: 30%;
  background-color: #e7b150;
}

.price-calc-range-color.green {
  width: 30%;
  background-color: #53b34f;
}

.price-calc-range-color.top {
  width: 15%;
  background-color: #0a6e1e;
}

.right {
  text-align: right;
}

.link {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brand {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.topbar-register-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar-dropdown-item {
  background-color: #004174;
  color: #d8d8d8;
  font-weight: 300;
}

.price-calc-headline {
  padding-bottom: 10px;
  border-bottom: 1px solid #77aed8;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.section-made-in-germany {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #004174;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .3), hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .3), hsla(0, 0%, 100%, 0));
}

.made-in-germany-icon {
  width: 100px;
  height: 100px;
}

.template-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.template-hero-headline {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 52px;
  line-height: 52px;
  font-weight: 300;
}

.template-hero-sub-headline {
  margin-top: 0px;
  font-weight: 300;
}

.template-content-section {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #001b4b;
}

.paragraph-headline {
  margin-top: 0px;
  margin-bottom: 0.25em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 1.5em;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #d8d8d8;
  font-size: 2.5em;
}

.template-content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.template-content-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.template-content-col-inner-wrapper.use-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.template-content-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #001b4b;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.template-content-image-wrapper {
  overflow: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 300px;
}

._10-px-space {
  height: 10px;
}

._20-px-space {
  height: 20px;
}

._40-px-space {
  height: 40px;
}

.invisible {
  display: none;
}

.text-span {
  color: #fff;
  font-weight: 700;
}

.text-span-5 {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.text-block {
  font-size: 15px;
  font-weight: 300;
}

.text-block-2 {
  text-align: center;
}

.image-5 {
  display: block;
  height: 60vh;
}

.text-span-18 {
  font-weight: 700;
}

.text-span-19 {
  font-weight: 700;
}

.lang-selector {
  display: none;
}

.tmpl-h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 60px;
  font-weight: 300;
}

.tmpl-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tmpl-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-top: 1px solid #dfdfdf;
}

.tmpl-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.tmpl-col.bold {
  font-weight: 400;
}

.tmpl-col.bold.align-right {
  text-align: right;
}

.tmpl-col.align-right {
  text-align: right;
}

.v2-pricing-headline {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.v2-pricing-text {
  margin-bottom: 30px;
  text-align: justify;
}

.v2-pricing-button-wrapper {
  margin-top: 30px;
  text-align: center;
}

.v2-pricing-button {
  padding: 16px 50px;
  border-radius: 2px;
  background-color: #08b624;
  font-size: 18px;
}

.sym-register {
  background-color: #004174;
}

.sym-optin-h1 {
  color: #fff;
  font-weight: 400;
}

.sym-register-subline {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #fff;
  color: #77aed8;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.card {
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #fff;
}

.card-header {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.v-space-small {
  padding-top: 1em;
  padding-bottom: 1em;
}

.v-space-medium {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.v-space-large {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.bg-green {
  background-color: #08b624;
}

.bg-dark-blue {
  background-color: #004174;
}

.bg-light-blue {
  background-color: #1891f0;
}

.color-light-blue {
  color: #1891f0;
}

.color-green {
  color: #08b624;
}

.bg-red {
  background-color: #f82323;
}

.color-red {
  color: #f82323;
}

.input-text {
  margin-bottom: 0px;
  padding: 0px 1em;
  border-radius: 2px;
  font-size: 1em;
  line-height: 2.5em;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.v-space-very-small {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.footer-row {
  margin-bottom: 1em;
}

.blog-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sidebar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 2em;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 0 6px 0 #e0e0e0;
}

.section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.blogpost-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.blogpost-card:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

.blogpost-meta-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #888;
  font-size: 0.8em;
}

.blogpost-meta-icon-left {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.image-6 {
  width: 2em;
  height: 2em;
}

.blogpost-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 10em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  background-image: url('../images/charts.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.blogpost-image-container.single {
  height: 20em;
}

.blogpost-meta-icon-right {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
}

.blogpost-meta-item-wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.blogpost-meta-item-wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .body {
    overflow: auto;
  }
  .button.price-offers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-top: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
  }
  .button.card-button.register {
    font-size: 14px;
  }
  .color-light-grey.color-white.index-hero-headline {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
  }
  .index-hero-optin-wrapper {
    padding-right: 0px;
    padding-left: 20px;
  }
  .optin-textfield {
    width: 350px;
  }
  .index-navbar-link.index-navbar-link-text {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #001b4b;
    text-align: left;
  }
  .index-hero-gif-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .headline {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
  }
  .flex-column {
    padding-right: 5px;
    padding-left: 5px;
  }
  .row {
    margin-bottom: 30px;
  }
  .section-2 {
    padding-bottom: 20px;
  }
  .price-calc-wrapper {
    margin-left: 10px;
    padding-left: 10px;
  }
  .section-offer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-mobile {
    background-color: #fff;
  }
  .menu-button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .template-content-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sym-register {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .v-expand {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .sidebar-container {
    margin-left: 1em;
    padding: 0.5em;
  }
  .blogpost-card {
    margin-bottom: 2em;
  }
  .blogpost-card:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 767px) {
  .body {
    overflow: auto;
  }
  .index-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .index-hero.bgcolor-dark-blue {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .button.price-offers {
    width: 300px;
    height: 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .button.card-button.register {
    font-size: 18px;
  }
  .color-light-grey.color-white.index-hero-headline {
    margin-right: 10px;
    font-size: 24px;
    line-height: 32px;
  }
  .index-hero-optin-wrapper {
    padding-left: 0px;
  }
  .index-hero-gif-wrapper {
    display: none;
  }
  .optin-register-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .color-white-blue {
    margin-right: 20px;
  }
  .center.price-offers-headline {
    min-height: auto;
  }
  .footer {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .footer-newsletter-description {
    text-align: justify;
  }
  .footer-page-link {
    text-align: center;
  }
  .footer-headline {
    text-align: center;
  }
  .footer-bottom-line {
    margin-top: 20px;
  }
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-row.price-calc-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-column {
    padding: 6px 0px;
  }
  .row {
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row.technologies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .optin-login-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .price-calc-wrapper {
    margin-left: 0px;
    padding-left: 0px;
  }
  .div-block-2 {
    padding-left: 0px;
  }
  .section-offer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .price-offers-column {
    margin-bottom: 10px;
  }
  .container {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  .optin-button-wrapper {
    margin-right: 10px;
    margin-left: 10px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .section-made-in-germany {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .made-in-germany-icon {
    width: 80px;
    height: 80px;
  }
  .template-content-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-title {
    float: none;
    font-size: 2em;
  }
  .template-content-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .template-content-col-inner-wrapper.use-image {
    margin-bottom: 20px;
  }
  .tmpl-h1 {
    font-size: 36px;
    line-height: 55px;
  }
  .v2-princing-col {
    margin-bottom: 20px;
  }
  .v-space-small {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .align-center-mobile {
    text-align: center;
  }
  .h-space-small {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  .sidebar-container {
    display: none;
  }
  .blogpost-meta-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .blogpost-meta-icon-right {
    margin-right: 0.5em;
    margin-left: 0em;
  }
  .blogpost-meta-item-wrapper-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media (max-width: 479px) {
  .body {
    overflow: auto;
  }
  .index-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .index-navbar-brand-img {
    height: auto;
  }
  .index-hero.bgcolor-dark-blue {
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .button.price-offers {
    margin-bottom: 20px;
  }
  .button.card-button.register {
    font-size: 18px;
  }
  .color-light-grey.color-white.index-hero-headline {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
  }
  .index-hero-optin-form-wrapper {
    padding: 0px;
    border-style: none;
    background-color: rgba(0, 65, 116, 0);
  }
  .index-hero-optin-wrapper {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .index-hero-optin-form {
    border-style: none;
  }
  .optin-textfield {
    width: auto;
  }
  .index-hero-gif-wrapper {
    display: block;
    margin-top: 40px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .color-white.index-hero-optin-headline-text {
    font-size: 22px;
  }
  .section-optin.bgcolor-mid-blue {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .color-white-blue.made-in-germany-text {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
  }
  .center {
    line-height: 24px;
  }
  .center.price-offers-headline {
    height: 2em;
    margin-top: 0px;
  }
  .headline {
    font-size: 28px;
    line-height: 32px;
  }
  .row.technologies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .topbar-login-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .optin-login-icon {
    display: none;
  }
  .index-product-tech-col {
    margin-bottom: 15px;
  }
  .top-bar-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .div-block-2 {
    padding-left: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .top-bar-text {
    display: none;
  }
  .price-calc-p2p-range {
    margin-right: 0px;
    margin-left: 0px;
  }
  .optin-button-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .brand.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .topbar-register-wrapper {
    margin-right: 0em;
    margin-bottom: 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .section-made-in-germany {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .made-in-germany-icon {
    width: 50px;
    height: 50px;
  }
  .template-content-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .section-title {
    line-height: 38px;
  }
  .image-5 {
    height: auto;
  }
  .v2-pricing-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .sym-optin-h1 {
    font-size: 26px;
    line-height: 36px;
  }
  .sym-register-subline {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
  }
  .blogpost-card {
    margin-bottom: 1em;
    padding: 0.5em;
  }
  .blogpost-image-container {
    height: 16em;
  }
}

